.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar
        %span.icon-bar
      =link_to "Blog on Rails", "/", :class => 'brand'
      .nav-collapse
        %ul.nav
          %li.active
            =link_to "Posts", admin_posts_path 
          %li
            =link_to "Create", new_admin_post_path, :class => "create_post"
