- unless @posts.nil?
  .posts
    - @posts.try(:each) do |post|
      .post
        %h3.title= post.title
        .post-header
          .post-header-line-1
            %span.post-author= "Nicholas Ren"
        .post-body
          .summary= post.content
- else
  .notice= "Not post found"
