- unless @posts.nil?
  .create
    =link_to "Create", new_admin_post_path, :class => "create_post"
  .posts
    - @posts.try(:each) do |post|
      .post{:id => post.id}
        %h3.title= post.title
        =link_to "Delete", admin_post_path(post), :class => "delete", :method => :delete
- else
  .notice= "Not post found"
