.container
  %h4.page-header= "Posts"
  - unless @posts.nil?
    .table#posts
      - @posts.each do |post|
        %div 
          =link_to post.title, admin_post_edit_path(post), :class => 'title', :method => :edit
          =link_to "Delete", admin_post_path(post), :class => "pull-right delete",:id => post.id, :method => :delete
  - else
    .notice= "Not post found"
