!!! 5
%body
  .content
    - unless @posts.nil?
      %ul.posts
        - @posts.try(:each) do |post|
          %li.post
            %span.title= post.title
            %span.content= post.content
    - else
      .notice= "Not post found"

