%h2= "New Post"
= form_for(Post.new)  do |f|
  .fields
    =f.label "Title"
    =f.text_field :title, {:id => 'title'}
  .fields
    =f.label "Content"
    =f.text_area :content, {:id => 'content'}
  =f.submit
